{% extends "base.html" %}

{% block title %}
招聘管理
{% endblock %}

{% block body %}
<div class="row" style="padding-top: 32px">
  <div class="panel panel-default col-md-3">
    <h4 class="panel-heading heading">招聘管理</h4>
    <div class="list-group panel-body">
      <a href="{{ url_for('company.resumes') }}" class="list-group-item {% if panel == 'resumes' %}active{% endif %}">投递管理</a>
      <a href="{{ url_for('company.jobs') }}" class="list-group-item {% if panel == 'jobs' %}active{% endif %}">职位管理</a>
      <a href="{{ url_for('job.create') }}" class="list-group-item {% if panel == 'create' %}active{% endif %}">发布职位</a>
      <a href="{{ url_for('company.edit') }}" class="list-group-item {% if panel == 'edit' %}active{% endif %}">企业信息</a>
    </div>
  </div>
  <div class="col-md-9">
    {% block right %}{% endblock %}
  </div>
</div>
{% endblock %}