{% extends "base.html" %}
{% from "macros.html" import render_pagination, render_company %}

{% block title %}公司{% endblock %}


{% block body %}
<div class="jumbotron">
  <h4>Todo: 条件筛选</h4>
</div>

{% if pagination.total == 0 %}
    <div align="center" >
      <img src="{{ url_for('static', filename='images/no_company.png') }}" width="200">
      <h3>查无企业</h3>
    </div>
{% endif %}

<div class="company-list">
{% for company in pagination.items %}
  {{ render_company(company) }}
{% endfor %}
</div>

{{ render_pagination(pagination, 'company.index', kw=kw) }}
{% endblock %}