{% extends "base.html" %}
{% from "macros.html" import render_company, render_job %}

{% block title %}主页{% endblock %}

{% block head %}
<div class="jumbotron">
  <div class="container">
    <h1>Job Web Demo</h1>
    <p>Python / Flask / Jinja2 / Bootstrap / MySQL</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/zkqiang/Job-Web-Demo" role="button">源代码</a></p>
  </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active">
    <a href="#">最新职位</a>
  </li>
</ul>

<div class="job-list">
  {% for job in jobs %}
    {{ render_job(job) }}
  {% endfor %}
</div>

<p class="list-more">
  <a href="{{ url_for('job.index') }}" class="btn btn-success btn-lg list-more-btn">
    查看更多
  </a>
</p>

<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active">
    <a href="#">最新公司</a>
  </li>
</ul>

<div class="company-list">
  {% for company in companies %}
    {{ render_company(company) }}
  {% endfor %}
</div>

<p class="list-more">
  <a href="{{ url_for('company.index') }}" class="btn btn-success btn-lg list-more-btn">
    查看更多
  </a>
</p>
{% endblock %}