span {
    color: #999;
    font-size: 14px;
}

body { padding-top: 52px; }

h4 { padding-top: 5px;
    padding-bottom: 5px;
}

hr { margin-top: 12px;
margin-bottom: 6px;}

td {text-align:center;}
th {text-align:center;}

.sm-logo-img {
    min-height: 50px;
    max-height: 50px;
}

.logo-img {
    min-width: 40px;
    max-width: 300px;
    min-height: 90px;
    max-height: 90px;
}

.big-logo-img {
    max-height: 140px;
}

.heading { padding-top: 10px;
    padding-bottom: 10px;
}

.item_con_ul {
    color: #777;
    font-size: 12px;
}

.index-label {
    float: left;
    height: 22px;
    margin-top: 2px;
    margin-right: 8px;
    padding: 0 10px;
    line-height: 22px;
    background-color: #fff;
    color: #70797b;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #ededed;
}

.con_ul_li {
    display: block;
    float: left;
    height: 24px;
    padding: 0 10px;
    margin: 0 10px 10px 0;
    border: 1px solid #ededed;
    border-radius: 16px;
    background-color: #fff;
    line-height: 24px;
    text-align: center;
}

ul.item_con_list {
    width: 700px;
    margin: 0 auto
}

.nav-pagination {
    text-align: center;
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 0
}

.name {
    position: relative;
    display: inline-block;
    height: 36px;
    font-size: 36px;
    color: #333;
    line-height: 36px;
}

.salary {
    color: #fd5f39;
}

.position-deal.clearfix {
    margin-right: 60px;
}

.s_position_list .list_item_top {
    width: 928px;
    height: 80px;
    padding: 14px 16px 0;
}

.col_md-form {
    margin: 0 auto;
}

.col_md-form h1{
    padding: 16px 0;
}

.form {
    width: 400px;
    margin: 0 auto;
}

.form h1{
    width: 400px;
    padding: 16px 0;
}

a,
a:hover,
a:visited {
    cursor: pointer;
    text-decoration: none !important;
}

.nav-pagination {
    text-align: center;
    clear: both;
}

.job-list,
.company-list {
    margin-top: 16px;
}

.job-box {
    padding: 14px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 16px;
}

.job-item {
    border: 1px solid #eee;
    border-left: 5px solid #00b38a;
    padding: 16px;
    margin-bottom: 16px;
}

.list-title {
    margin: 0 16px;
}

.company-item {
    text-align: center;
}

.company-detail {
    margin: 30px 0;
    font-size: 16px;
}

.header {
    padding: 0;
}

.list-more {
    text-align: center;
    margin-bottom: 50px;
}

.list-more-btn {
    padding: 10px 148px;
	color: #5cb85c;
    background-color: #fff;
}

.footer {
    clear: both;
    border-top: 1px solid #eee;
    padding: 16px 0 16px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #999;
    font-size: 14px;
 }

.company-meta {
    color: #999;
}

.submit_btn {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 96px;
    text-align: center;
}

.company-detail-jobs {
	color: #C9C9C9;
    background-color: #fff;
}

.item-title {
    font-size: 18px;
    margin-bottom: 10px;
    zoom: 1;
}

.job-salary {
    float: left;
    font-size: 16px;
    color: #fd5f39;
}
